.userList {
  display: flexbox;

  height: 60%;
}

.textContainer {
  display: inline-flexbox;
  border-radius: 4px 4px 0 0 !important;
  flex-direction: column;
  margin-left: 100px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;

  background-color: white;
}

.activeContainer {
  align-items: center;
  margin-bottom: 10px;
}

.activeItem {
  align-items: center;
  padding-left: 10px;
}

.activeContainer img {
  padding: 10px;
}

.textContainer h1 {
  padding: 10px;
  color: white;
  background-color: #2979ff;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
